<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Our Duty Weekly System.">
  <meta name="author" content="Peaceminds">
  <title>Welcome back, commander.</title>
  <!-- <link rel="icon" href="../../favicon.ico"> -->
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/project.css">
  <link rel="stylesheet" href="/static/css/signin.css">
  <link rel="stylesheet" href="/static/css/tree.css">
  <script src="/static/js/vue.js"></script>
  <script type="text/javascript" src="/static/js/jquery.min.js" charset="UTF-8"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/bootstrap-treeview.js"></script>
  <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
  <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
</head>

<body>

  <!-- * -- Tree Vue Component Template -- *  -->
  <script type="text/x-template" id="tree-item">
    <div>
      <div @click='clickFun(pnode)' v-if='!pnode.root' class='folder-box'>
        <span v-if='!pnode.isOpen' class='folder-logo'>+</span>
        <span v-if='pnode.isOpen' class='folder-logo'>-</span>
        <p class='folder'>{% raw %}{{pnode ? pnode.name : ''}}{% endraw %}</p>
      </div>
      <ul class='tree-ul' v-show='pnode.isOpen'>
        <template v-for='item in list'>
          <tree-item v-if='item.childs.length > 0' :list='item.childs' :pnode='item'></tree-item>
          <li @click='clickFun(item)' v-if='item.childs.length == 0' class='node'>{% raw %}{{ item.name }}{% endraw %}</li>
        </template>
      </ul>
    </div>
  </script>

  <!-- * -- Vars, Page Init, Vue VM & Some Funcs -- *  -->
  <script>
    // **** Testing Data And Global Vars *** 
    let DEFAULT_OPTIONS = {
      callback: function () {}
    }
    let pageParams = {
      node: {
        default: true
      },
      folder: {
        default: true
      }
    }

    // *** Page Init. Get the Vue Tree DataList & Calling Root Vue Init Func *** 
    window.onload = function () {
      var wkid = window.location.search
      var divList = []
      var treeDataList = []
      // Get the wkid from http request.
      var wkidIndex = wkid.lastIndexOf("\=")
      wkid = wkid.substring(wkidIndex + 1, wkid.length)
      // Get the Tree data.
      ajax03 = $.getJSON('/api/divisions').then(function (data) {
          divList = sortDivList(data.divList)
          uniqWZ = []
          bigBSNList = []
          for (var i in divList) {
            uniqWZ.push(divList[i].warZone)
          }
          uniqWZ = new Set(uniqWZ)
          uniqWZ = Array.from(uniqWZ)
          for (var i = 0; i < uniqWZ.length; i++) {
            var tlist = []
            var tobj = {}
            for (var j = 0; j < divList.length; j++) {
              if (divList[j].warZone === uniqWZ[i]) {
                var t = divList[j].branchSysName
                tobj = {
                  name: t
                }
                tlist.push(tobj)
              }
            }
            var obj = {}
            obj.name = uniqWZ[i]
            obj.childs = tlist
            bigBSNList.push(obj)
          }
          treeDataList = [{
            name: '单位名称', // 根级目录名字
            isOpen: true, // 是否初始展开目录
            hightLight: true, // 是否初始高亮
            className: undefined, // 添加自定义样式
            childs: bigBSNList
          }]
        })
        .fail(function (jqXHR, textStatus) {
          alert('Error: ' + jqXHR.status)
        })
      $.when(ajax03).done(function () {
        // Callback 01 Init the Vue instance.
        activeVue(treeDataList, divList, wkid)
        // Callback 02 Init jQuery calendar binding.
        activejqBinding()
      })
    }

    // *** Tree Component Binding *** 
    Vue.component('tree-item', {
      template: '#tree-item',
      props: {
        list: {
          type: Array,
          required: false
        },
        pnode: {
          type: Object,
          default: function () {
            return {
              isOpen: true
            }
          }
        }
      },
      methods: {
        defaultClickFun(node) {
          var s = JSON.stringify(node.name)
          this.$parent.$parent.$emit('divi-toparent', s)
          pageParams.node.hightLight = pageParams.folder.hightLight = false
          node.isOpen = !node.isOpen
          node.hightLight = true
          if (node.childs.length > 0 && node.isOpen === false) { // 需要递归关闭子目录
            node.hightLight = false
            closeFolder(node)
          }
          if (node.childs.length > 0 && !checkChildNode(node, pageParams.folder)) { // 查询上一次点击的目录是当前目录的父目录还是兄弟目录
            pageParams.folder.isOpen = false
          }
          if (node.childs.length > 0) {
            pageParams.folder = node
          } else {
            pageParams.node = node
          }
        },
        clickFun(node) {
          this.defaultClickFun(node)
        }
      }
    })

    // *** Boot Up the Vue *** 
    function activeVue(treeDataList, divList, wkid) {
      var vm = new Vue({
        el: '#est-container',
        created: function () {
          this.wkid = wkid
          this.divList = divList
          this.initTree(treeDataList)
        },
        data: {
          wkid: '',
          year: '',
          week: '',
          weeklyDataList: [],
          casesDataList: [],
          divList: [],
          wkGeneral: '',
          wkIntelSysSum: '',
          currDivision: '',
          selDate11: '',
          selDate12: '',
          selDate21: '',
          selDate22: '',
          selDate31: '',
          selDate32: '',
          currCaseDescription: '',
          currCaseId: '',
          currCaseWeeklyId: '',
          intelCasesExhibits: [],
          wkIntelCasesNew: [],
          wkIntelCasesUpdated: [],
          wkIntelCasesDeleted: [],
          wkLinkSysSum: '',
          wkSecSum: '',
          wkDutyCheckSum: '',
          wkHeavyDutySum: '',
        },
        mounted: function () {
          var that = this
          // Get the weekly data by wkid.
          $.getJSON('/api/weekly/:' + wkid).then(function (response) {
              // console.log('接收到的Weekly数据为：' + JSON.stringify(response))
              that.$nextTick(() => {
                that.weeklyDataList = response.wkDetails
                that.initWRView(that)
              })
            })
            .fail(function (jqXHR, textStatus) {
              alert('Get weekly error: ' + jqXHR.status)
            })
          // Get all the cases related to wkid.
          $.getJSON('/api/cases/:' + wkid).then(function (response) {
              // console.log('接收到的Case数据为：' + JSON.stringify(response))
              that.$nextTick(() => {
                that.casesDataList = response.wkCases
                that.initCRView(that)
              })
            })
            .fail(function (jqXHR, textStatus) {
              alert('Get cases error: ' + jqXHR.status)
            })
        },
        props: {
          list: {
            type: Array,
            required: false,
            default: function () {
              return this.list
            }
          },
          options: {
            type: Object,
            default: function () {
              return DEFAULT_OPTIONS
            }
          }
        },
        methods: {
          initTree(treeDataList) {
            // console.log('树的数据:' + JSON.stringify(treeDataList))
            let tempList = JSON.parse(JSON.stringify(treeDataList))
            let loadDatas = function (datas) {
              datas.forEach((item) => {
                item.isOpen = item.isOpen || false
                item.hightLight = item.hightLight || false
                item.className = item.className || ''
                item.childs = item.childs || []
                if (item.childs.length > 0) {
                  if (item.hightLight) {
                    pageParams.folder = item
                  }
                  loadDatas(item.childs)
                } else {
                  if (item.hightLight) {
                    pageParams.node = item
                  }
                  item.isOpen = false
                }
              })
            }
            // Pass list data to tree.
            loadDatas(tempList)
            this.list = tempList
          },

          initWRView: (that) => {
            that.year = that.weeklyDataList[0].year
            that.week = that.weeklyDataList[0].week
            that.wkGeneral = that.weeklyDataList[0].wkGeneral
            that.wkIntelSysSum = that.weeklyDataList[0].wkIntelSysSummary
            that.wkLinkSysSum = that.weeklyDataList[0].wkLinkSysSummary
            that.wkSecSum = that.weeklyDataList[0].wkSecSummary
            that.wkDutyCheckSum = that.weeklyDataList[0].wkDutyCheckSummary
            that.wkHeavyDutySum = that.weeklyDataList[0].wkHeavyDutySummary
          },

          initCRView: (that) => {
            that.intelCasesExhibits = that.casesDataList
            // console.log(JSON.stringify(that.intelCasesExhibits))
          },

          runSetDivision: function (data) {
            var reg = new RegExp('"', "g")
            data = data.replace(reg, "")
            this.currDivision = data
          },

          setDate: function () { // Testing function for datePicker
            this.selDate11 = Vue.selDate11
            this.selDate12 = Vue.selDate12
            this.selDate21 = Vue.selDate21
            this.selDate22 = Vue.selDate22
            this.selDate31 = Vue.selDate31
            this.selDate32 = Vue.selDate32
          },

          setICE: function () {
            this.setDate()
            if (this.currDivision === '' || this.selDate11 === '' || this.selDate12 === '' || this.currCaseDescription ===
              '') {
              alert('单位名、事件起止时间、事件描述不能有任意为空！')
              return
            }
            if ((this.selDate21 === undefined && this.selDate22 !== undefined) || (this.selDate21 !== undefined &&
                this.selDate22 === undefined)) {
              alert('事件第2次起止时间必须成对出现！')
              return
            }
            if (!((this.selDate31 === undefined && this.selDate32 === undefined) || (this.selDate31 !== undefined &&
                this.selDate32 !== undefined))) {
              alert('事件第3次起止时间必须成对出现！')
              return
            }
            if (this.dateCompare()) {
              alert('事件截止日期须大于起始日期！')
              return
            }
            var caseTempObj = {}
            caseTempObj.warZone = this.getWZNameFromDivList(this.currDivision)
            if (caseTempObj.warZone == undefined) {
              alert('单位名不能是区域名，请重新选择单位！')
              return
            }
            if(this.currCaseId) {
              caseTempObj.id = this.currCaseId
            } else {
              caseTempObj.id = undefined
            }
            if(this.currCaseWeeklyId) {
              caseTempObj.weeklyId = this.currCaseWeeklyId
            } else {
              caseTempObj.weeklyId = undefined
            }
            caseTempObj.year = this.year
            caseTempObj.week = this.week
            caseTempObj.branchSysName = this.currDivision
            caseTempObj.period11 = this.selDate11
            caseTempObj.period12 = this.selDate12
            caseTempObj.period21 = this.selDate21
            caseTempObj.period22 = this.selDate22
            caseTempObj.period31 = this.selDate31
            caseTempObj.period32 = this.selDate32
            caseTempObj.caseDescription = this.currCaseDescription
            this.intelCasesExhibits.push(caseTempObj)
            this.currCaseId = ''
            this.currCaseWeeklyId = ''
            // console.log("刚提交的intelCasesExhibits为：" + JSON.stringify(this.intelCasesExhibits))
            this.clearAllViews()
          },

          deleteICE: function (index) {
            // When deleting, check the item's id and push it into the wkIntelCasesDeleted list for update.
            var i = this.intelCasesExhibits[index].id
            if(i){
              this.wkIntelCasesDeleted.push(i)
            }
            this.intelCasesExhibits.splice(index, 1)
          },

          editICE: function (index) {
            // 先将ICE中数据读回所有view中
            console.log("刚读取的intelCasesExhibits为：" + JSON.stringify(this.intelCasesExhibits))
            this.currCaseWeeklyId = this.intelCasesExhibits[index].weeklyId
            this.currCaseId = this.intelCasesExhibits[index].id
            this.currDivision = this.intelCasesExhibits[index].branchSysName
            // this.selDate11 = this.getDateFromTimestamp(this.intelCasesExhibits[index].period11)
            // this.selDate12 = this.getDateFromTimestamp(this.intelCasesExhibits[index].period12)
            // this.selDate21 = this.getDateFromTimestamp(this.intelCasesExhibits[index].period21)
            // this.selDate22 = this.getDateFromTimestamp(this.intelCasesExhibits[index].period22)
            // this.selDate31 = this.getDateFromTimestamp(this.intelCasesExhibits[index].period31)
            // this.selDate32 = this.getDateFromTimestamp(this.intelCasesExhibits[index].period32)
            // Vue model中的数据 用于数组
            this.selDate11 = this.intelCasesExhibits[index].period11
            this.selDate12 = this.intelCasesExhibits[index].period12
            this.selDate21 = this.intelCasesExhibits[index].period21
            this.selDate22 = this.intelCasesExhibits[index].period22
            this.selDate31 = this.intelCasesExhibits[index].period31
            this.selDate32 = this.intelCasesExhibits[index].period32
            // 手动修改jQuery操作对应的视图显示
            Vue.selDate11 = this.selDate11
            Vue.selDate12 = this.selDate12
            Vue.selDate21 = this.selDate21
            Vue.selDate22 = this.selDate22
            Vue.selDate31 = this.selDate31
            Vue.selDate32 = this.selDate32
            this.currCaseDescription = this.intelCasesExhibits[index].caseDescription
            this.intelCasesExhibits.splice(index, 1)
          },

          getWZNameFromDivList: function (sd) {
            for (var i in this.divList) {
              if (this.divList[i].branchSysName == sd) {
                return divList[i].warZone
              }
            }
          },

          dateCompare: function() {
            var a1 = this.getTimestampFromDate(this.selDate11)
            var b1 = this.getTimestampFromDate(this.selDate12)
            var a2 = this.getTimestampFromDate(this.selDate21)
            var b2 = this.getTimestampFromDate(this.selDate22)
            var a3 = this.getTimestampFromDate(this.selDate31)
            var b3 = this.getTimestampFromDate(this.selDate32)
            if(a1 && b1 && a1 >= b1) {
              console.log("日期对1比较错误")
              return true
            }
            if(a2 && b2 && a2 >= b2) {
              console.log("日期对2比较错误")
              return true
            }
            if(a3 && b3 && a3 >= b3) {
              console.log("日期对3比较错误")
              return true
            }
            return false
          },

          getTimestampFromDate: function (dt) {
            if (dt) {
              var dt = dt
              var date = new Date(dt)
              var ts = date.getTime()
              // console.log('不加00时间戳:' + ts)
              var dt1 = dt + ':00'
              var date1 = new Date(dt1)
              var ts1 = date1.getTime()
              // console.log('加00时间戳:' + ts)
              return ts
            } else {
              return null
            }
          },

          getDateFromTimestamp: function (ts) {
            if (ts) {
              var time = new Date(ts)
              var Month = time.getMonth() + 1
              var Day = time.getDate()
              var Hour = time.getHours()
              var Minute = time.getMinutes()
              var yy = time.getFullYear() + '-'
              var mm = Month < 10 ? '0' + Month + '-' : Month + '-'
              var dd = Day + 1 < 10 ? '0' + Day : Day + ' '
              var hh = Hour < 10 ? '0' + Hour + ':' : Hour + ':'
              var mi = Minute < 10 ? '0' + Minute : Minute
              // console.log('转换时间为:' + yy + mm + dd + ' ' + hh + mi)
              return yy + mm + dd + ' ' + hh + mi
            }
          },

          transPeriodFromStrToTsForDB: function(tmpItem) {
            tmpItem.period11 = this.getTimestampFromDate(tmpItem.period11)
            tmpItem.period12 = this.getTimestampFromDate(tmpItem.period12)
            tmpItem.period21 = this.getTimestampFromDate(tmpItem.period21)
            tmpItem.period22 = this.getTimestampFromDate(tmpItem.period22)
            tmpItem.period31 = this.getTimestampFromDate(tmpItem.period31)
            tmpItem.period32 = this.getTimestampFromDate(tmpItem.period32)
            return tmpItem
          },

          addDatePicker02: function () {
            window.$("#date-picker-02").removeClass('hide')
          },

          addDatePicker03: function () {
            window.$("#date-picker-03").removeClass('hide')
          },

          killDatePicker02: function () {
            window.$("#date21").val(undefined)
            window.$("#date22").val(undefined)
            Vue.selDate21 = undefined
            Vue.selDate22 = undefined
            window.$("#date-picker-02").addClass('hide')
          },

          killDatePicker03: function () {
            window.$("#date31").val(undefined)
            window.$("#date32").val(undefined)
            Vue.selDate31 = undefined
            Vue.selDate32 = undefined
            window.$("#date-picker-03").addClass('hide')
          },

          clearAllDatePickers: function () {
            this.selDate11 = undefined
            this.selDate12 = undefined
            this.selDate21 = undefined
            this.selDate22 = undefined
            this.selDate31 = undefined
            this.selDate32 = undefined
            Vue.selDate11 = undefined
            Vue.selDate12 = undefined
            window.$("#date11").val(undefined)
            window.$("#date12").val(undefined)
            this.killDatePicker02()
            this.killDatePicker03()
          },

          clearAllViews: function () {
            this.currDivision = ''
            this.currCaseDescription = ''
            this.clearAllDatePickers()
          },

          formsCheck: function () {
            // ? 这里可以改用Vue的v-if来控制这些控件的显示
            var reg = /^[0-9]+.?[0-9]*$/
            if (this.year == '' || this.week == '') {
              window.$('#al-yw').removeClass('hide').fadeOut(4000)
              window.$("html, body").animate({
                scrollTop: $('#al-yw').offset().top
              }, 1000)
              return false
            }
            if (!(reg.test(this.year)) || !(reg.test(this.week))) {
              window.$('#al-yw').removeClass('hide').fadeOut(4000)
              window.$("html, body").animate({
                scrollTop: $('#al-yw').offset().top
              }, 1000)
              return false
            }
            if (!this.wkGeneral) {
              window.$('#al-wkg').removeClass('hide').fadeOut(4000)
              window.$("html, body").animate({
                scrollTop: $('#al-wkg').offset().top
              }, 1000)
              return false
            }
            if (!this.wkIntelSysSum) {
              window.$('#al-wki').removeClass('hide').fadeOut(4000)
              window.$("html, body").animate({
                scrollTop: $('#al-wki').offset().top
              }, 1000)
              return false
            }
            if (!this.wkLinkSysSum) {
              window.$('#al-wkl').removeClass('hide').fadeOut(4000)
              window.$("html, body").animate({
                scrollTop: $('#al-wkl').offset().top
              }, 1000)
              return false
            }
            if (!this.wkSecSum) {
              window.$('#al-wks').removeClass('hide').fadeOut(4000)
              window.$("html, body").animate({
                scrollTop: $('#al-wks').offset().top
              }, 1000)
              return false
            }
            if (!this.wkDutyCheckSum) {
              window.$('#al-wkd').removeClass('hide').fadeOut(4000)
              window.$("html, body").animate({
                scrollTop: $('#al-wkd').offset().top
              }, 1000)
              return false
            }
            return true
          },

          addHideClass: function () {
            window.$('#al-yw').addClass('hide')
            window.$('#al-wkg').addClass('hide')
            window.$('#al-wki').addClass('hide')
            window.$('#al-wkl').addClass('hide')
            window.$('#al-wks').addClass('hide')
            window.$('#al-wkd').addClass('hide')
          },

          // 提交时 新建内容时间戳转化@@@@@@@@@@
          submitForms: function () {
            for(var i in this.intelCasesExhibits) {
              var tmpItem = this.intelCasesExhibits[i]
              tmpItem = this.transPeriodFromStrToTsForDB(tmpItem)
              if(!tmpItem.id){
                this.wkIntelCasesNew.push(tmpItem)
              } else {
                this.wkIntelCasesUpdated.push(tmpItem)
              }
            }
            console.log(this.intelCasesExhibits)
            estJson = {}
            var pass = this.formsCheck()
            if (!pass) {
              return
            }
            this.addHideClass()
            estJson = {}
            est = []
            estJson.wkid = this.wkid
            estJson.year = this.year
            estJson.week = this.week
            estJson.wkGeneral = this.wkGeneral
            estJson.wkIntelSysSummary = this.wkIntelSysSum
            estJson.wkLinkSysSummary = this.wkLinkSysSum
            estJson.wkSecSummary = this.wkSecSum
            estJson.wkDutyCheckSummary = this.wkDutyCheckSum
            estJson.wkHeavyDutySummary = this.wkHeavyDutySum
            estJson.intelCasesNew = this.wkIntelCasesNew
            estJson.intelCasesDeleted = this.wkIntelCasesDeleted
            estJson.intelCasesUpdated = this.wkIntelCasesUpdated
            console.log('准备创建内容:' + JSON.stringify(estJson))
            $.ajax({
              type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                url: '/api/weekly/update',
                data: JSON.stringify(estJson)
              })
              .done(function (r) {
                console.log('已更新周报')
                console.log(JSON.stringify(r))
                window.$('#myModal').modal()
              })
              .fail(function (jqXHR, textStatus) {
                alert('Error: ' + jqXHR.status)
              })
          },

          changeDatetoTimestamp: function (ice) {
            console.log("===================" + JSON.stringify(ice))
            for(var i = 0; i < ice.length; i++){
              console.log(JSON.stringify(ice[i]) + ice[i].period11)
              if (ice[i].period11) {
                ice[i].period11 = this.getTimestampFromDate(ice[i].period11)
              }
              if (ice[i].period12) {
                ice[i].period12 = this.getTimestampFromDate(ice[i].period12)
              }
              if (ice[i].period21) {
                ice[i].period21 = this.getTimestampFromDate(ice[i].period21)
              }
              if (ice[i].period22) {
                ice[i].period22 = this.getTimestampFromDate(ice[i].period22)
              }
              if (ice[i].period31) {
                ice[i].period31 = this.getTimestampFromDate(ice[i].period31)
              }
              if (ice[i].period32) {
                ice[i].period32 = this.getTimestampFromDate(ice[i].period32)
              }
            }
            return ice
          },
          
          backToHome: function () {
            location.href = "/"
          }

        }
      })

    }

    // *** Public funcs *** 
    function activejqBinding() {
      $('.form_datetime').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 0,
        minuteStep: 1,
        monthsShort: true,
        format: 'yyyy-mm-dd hh:ii'
      })
      $("#date11").change(function (event) {
        window.Vue.selDate11 = $("#date11").val()
      })
      $("#date12").change(function (event) {
        window.Vue.selDate12 = $("#date12").val()
      })
      $("#date21").change(function (event) {
        window.Vue.selDate21 = $("#date21").val()
      })
      $("#date22").change(function (event) {
        window.Vue.selDate22 = $("#date22").val()
      })
      $("#date31").change(function (event) {
        window.Vue.selDate31 = $("#date31").val()
      })
      $("#date32").change(function (event) {
        window.Vue.selDate32 = $("#date32").val()
      })
    }

    function sortDivList(arr) {
      var a = []
      a = arr.sort(function (a, b) {
        if (a["warZone"] === b["warZone"]) {
          if (a["branchSysName"] > b["branchSysName"]) {
            return 1
          } else if (a["branchSysName"] < b["branchSysName"]) {
            return -1
          } else {
            return 0
          }
        } else {
          if (a["warZone"] > b["warZone"]) {
            return 1
          } else {
            return -1
          }
        }
      })
      return a
    }

    function closeFolder(node) {
      node.isOpen = false
      node.childs.forEach((item) => {
        closeFolder(item)
      })
    }

    function checkChildNode(comNode, node) {
      if (comNode === node || node.default) {
        return true
      }
      for (let i = 0; i < node.childs.length; ++i) {
        if (checkChildNode(comNode, node.childs[i])) return true
      }
      return false
    }
  </script>

  <!-- * -- Nav Bar -- *  -->
  <header>
    <nav class="navbar navbar-inverse navbar-static-top" style="opacity: 0.8;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">为您导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/signout">Sign Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- * -- Html Area -- *  -->
  <div id="est-container" class="container">
    <form>

      <h2 class="text-center edit-title1">{% raw %}您正在修改 {{ year }} 年第 {{ week }} 周周报{% endraw %}</h2>

      <!-- *** part 01 General *** -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">
            <h3 style="margin-top: 5px">系统总体情况</h3>
          </h1>
        </div>
        <div class="panel-body">
          <div id="al-yw" class="alert hide alert-danger alert-dismissible" aria-hidden="true" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> 请填写年份、周数，格式必须为纯数字！
          </div>
          <!-- <div class="col-md-12"> -->
          <div class="col-md-2">
            <h5>周报年份</h5>
            <input type="text" class="form-control" style="margin-bottom: 20px" placeholder="年份格式如：2018" v-model="year">
          </div>
          <div class="col-md-2">
            <h5>当前周数</h5>
            <input type="text" class="form-control" style="margin-bottom: 30px" placeholder="周数格式如：1, 2, 3 ... 21" v-model="week">
          </div>
          <!-- </div> -->
          <div id="al-wkg" class="alert hide alert-danger alert-dismissible" aria-hidden="true" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> 请填写周报概述！
          </div>
          <textarea class="form-control t-area-h" rows="5" v-model="wkGeneral"></textarea>
        </div>
      </div>

      <!-- *** part 02 IntelSys *** -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">
            <h3 style="margin-top: 5px">Intel系统情况</h3>
          </h1>
        </div>
        <div class="panel-body">
          <!-- * Table Area * -->
          <div class="row">
            <div class="col-lg-12">
              <div id="al-wki" class="alert hide alert-danger alert-dismissible" aria-hidden="true" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning!</strong> 请填写Intel系统概述
              </div>
              <h5>Intel系统概述</h5>
              <textarea class="form-control t-area-h" rows="5" v-model="wkIntelSysSum"></textarea>
            </div>
            <div class="col-lg-12">
              <div class="list-group">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>事件时间</th>
                      <th>系统名称</th>
                      <th>事件描述</th>
                      <th style="text-align: right">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(ice, index) in intelCasesExhibits">
                      <td>
                        {% raw %}{{ice.period11}} 至 {{ice.period12}}{% endraw %}
                        <p v-if="ice.period21 != undefined"> {% raw %}{{ice.period21}} 至 {{ice.period22}}{% endraw %}</p>
                        <p v-if="ice.period31 != undefined"> {% raw %}{{ice.period31}} 至 {{ice.period32}}{% endraw %}</p>
                      </td>
                      <td v-text="ice.warZone + ice.branchSysName"></td>
                      <td v-text="ice.caseDescription"></td>
                      <td>
                        <button type="button" class="btn btn-warning btn-xs div-float-right div-magin-lr" @click="editICE(index)">
                          编辑
                        </button>
                        <button type="button" class="btn btn-danger btn-xs div-float-right div-magin-lr" @click="deleteICE(index)">
                          删除
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- * Divider * -->
          <div class="col-lg-12" style="background-color: rgba(166,166,166,0.3); height: 1px;"></div>
          <!-- * Control Area * -->
          <div class="row">
            <!-- Tree view -->
            <div class="col-md-4">
              <div id="tree-box" class="tree-box pre-scrollable" v-if="list" style="max-height: 350px">
                <tree-item :list="list" :pnode.once="{root: true, isOpen: true}" @divi-toparent="runSetDivision"></tree-item>
              </div>
            </div>
            <!-- Date Picker view -->
            <div class="col-md-8 date-box" style="padding-right:5px">
              <!-- Division view -->
              <div class="col-xs-4">
                <input type="text" class="form-control" style="margin-bottom: 20px" placeholder="单位名" v-model="currDivision">
              </div>
              <!-- Date Picker 01 -->
              <div class="col-xs-3">
                <div class="input-group input-group-md col-md-12">
                  <!-- <input type="text" class="form-control" placeholder="date01" aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2">日历</span> -->
                  <input id="date11" size="16" type="text" readonly class="form_datetime cursor-pointer form-control" v-model="selDate11">
                  <!-- <p>{% raw %}{{ selDate11 }}{% endraw %}</p> -->
                </div>
              </div>
              <div class="col-xs-1 hidden-xs text-center">
                <h5>至</h5>
              </div>
              <div class="col-xs-3">
                <div class="input-group input-group-md col-md-12">
                  <input id="date12" size="16" type="text" readonly class="form_datetime cursor-pointer form-control" v-model="selDate12">
                  <!-- <p>{% raw %}{{ selDate12 }}{% endraw %}</p> -->
                </div>
              </div>
              <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm" @click="addDatePicker02">
                  +
                </button>
              </div>
              <!-- Date Picker 02 -->
              <div id="date-picker-02" class="hide col-xs-12">
                <div class="col-xs-1 col-xs-offset-3">
                  <button type="button" class="btn btn-default btn-sm" @click="killDatePicker02">
                    -
                  </button>
                </div>
                <div class="col-xs-3">
                  <div class="input-group input-group-md col-md-12">
                    <input id="date21" size="16" type="text" readonly class="form_datetime cursor-pointer form-control" v-model="selDate21">
                    <!-- <p>{% raw %}{{ selDate21 }}{% endraw %}</p> -->
                  </div>
                </div>
                <div class="col-xs-1 hidden-xs text-center">
                  <h5 style="padding-left: 6px;">至</h5>
                </div>
                <div class="col-xs-3">
                  <div class="input-group input-group-md col-md-12">
                    <input id="date22" size="16" type="text" readonly class="form_datetime cursor-pointer form-control" v-model="selDate22" style="
                    margin-left: 6px; margin-bottom: 10px;">
                    <!-- <p>{% raw %}{{ selDate22 }}{% endraw %}</p> -->
                  </div>
                </div>
                <div class="col-xs-1">
                  <button type="button" class="btn btn-default btn-sm" @click="addDatePicker03">
                    +
                  </button>
                </div>
              </div>
              <!-- Date Picker 03 -->
              <div id="date-picker-03" class="hide col-xs-12">
                <div class="col-xs-1 col-xs-offset-3">
                  <button type="button" class="btn btn-default btn-sm" @click="killDatePicker03">
                    -
                  </button>
                </div>
                <div class="col-xs-3">
                  <div class="input-group input-group-md col-md-12">
                    <input id="date31" size="16" type="text" readonly class="form_datetime cursor-pointer form-control" v-model="selDate31">
                    <!-- <p>{% raw %}{{ selDate31 }}{% endraw %}</p> -->
                  </div>
                </div>
                <div class="col-xs-1 hidden-xs text-center">
                  <h5 style="padding-left: 6px;">至</h5>
                </div>
                <div class="col-xs-3">
                  <div class="input-group input-group-md col-md-12">
                    <input id="date32" size="16" type="text" readonly class="form_datetime cursor-pointer form-control" v-model="selDate32" style="
                    margin-left: 6px; margin-bottom: 10px;">
                    <!-- <p>{% raw %}{{ selDate32 }}{% endraw %}</p> -->
                  </div>
                </div>
              </div>
              <!-- Detail Description -->
              <div class="col-md-12">
                <textarea class="form-control t-area-h div-blank-upabt" rows="5" v-model="currCaseDescription" @input="setDate"></textarea>
              </div>
              <button type="button" class="btn btn-success btn-sm" style="margin: 13px; float: right;" @click="setICE()">
                添加记录
              </button>
              <button type="button" class="btn btn-danger btn-sm" style="margin: 13px; float: right;" @click="clearAllDatePickers()">
                重置输入日期
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- *** part 03 LinkSys *** -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">
            <h3 style="margin-top: 5px">链系统情况</h3>
          </h1>
        </div>
        <div class="panel-body">
          <div id="al-wkl" class="alert hide alert-danger alert-dismissible" aria-hidden="true" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> 请填写链系统情况！
          </div>
          <textarea class="form-control t-area-h" rows="5" v-model="wkLinkSysSum"></textarea>
        </div>
      </div>

      <!-- *** part 04 SecSys *** -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">
            <h3 style="margin-top: 5px">SecSys系统情况</h3>
          </h1>
        </div>
        <div class="panel-body">
          <div id="al-wks" class="alert hide alert-danger alert-dismissible" aria-hidden="true" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> 请填写SecSys系统情况！
          </div>
          <textarea class="form-control t-area-h" rows="5" v-model="wkSecSum"></textarea>
        </div>
      </div>

      <!-- *** part 05 DutyCheck *** -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">
            <h3 style="margin-top: 5px">DutyCheck系统情况</h3>
          </h1>
        </div>
        <div class="panel-body">
          <div>
            <div id="al-wkd" class="alert hide alert-danger alert-dismissible" aria-hidden="true" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Warning!</strong> 请填写DutyCheck系统情况！
            </div>
            <textarea class="form-control t-area-h" rows="5" v-model="wkDutyCheckSum"></textarea>
          </div>
        </div>
      </div>

      <!-- *** part 06 HeavyDuty *** -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">
            <h3 style="margin-top: 5px">HeavyDuty系统情况</h3>
          </h1>
        </div>
        <div class="panel-body">
          <div id="al-wkh" class="alert hide alert-danger alert-dismissible" aria-hidden="true" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong>
          </div>
          <textarea class="form-control t-area-h" rows="5" v-model="wkHeavyDutySum"></textarea>
        </div>
      </div>

      <!-- *** Submit button *** -->
      <div class="col-md-12">
        <button type="button" class="btn btn-info btn-lg submit-btn col-md-6 col-md-offset-3" style="float: left;" @click="submitForms">
          提交内容
        </button>
      </div>
    </form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              周报修改成功
            </h4>
          </div>
          <div class="modal-body">
            <h5>{% raw %}{{ year }} 年第{{ week }}周 周报修改成功!{% endraw %}</h5>
          </div>
          <div class="modal-footer">
            <!-- 继续留在当前页 更新数组会和已删除部分冲突 -->
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">
              留在当前页
            </button> -->
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="backToHome">
              返回首页
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *** weekly footer ****  -->
  <div class="div-blank-bottom text-center edit-title2">
    <a>weSYS Created by @思想先進元素</a>
    <a>2018 all rights reserved.</a>
    <a>&nbsp;</a>
  </div>

</body>

</html>