<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Our Duty Weekly System.">
  <meta name="author" content="Peaceminds">
  <title>A new browser, plz.</title>
  <script src="/static/js/jquery.min.js"></script>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/signin.css" rel="stylesheet">
  <link rel="icon" href="../../favicon.ico">
</head>

<body class="jumbotron bgd-signin">

  <div class="container" style="color: antiquewhite">
    <div class="col-md-6 col-md-offset-4">
        <h2>本系统不支持IE.</h2>
        <h4>请下载Firefox（版本≥52）或 Chrome（版本≥49）</h4>
        <h4>也可使用Safari、Opera等现代浏览器</h4>
    </div>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>weSYS
        <a>Created</a> by
        <a>@思想先進元素</a>.</p>
      <p style="font-size: 15px">2018 all rights reserved.</p>
    </div>
  </div>
</body>

</html>